
spritesheetUiPicto = {"_2x":{"width":520,"height":392,"isMainResolution":false,"resolutionValue":2,"minDpi":192,"url":"/ui-picto@2x.png"},"_1x":{"width":264,"height":200,"isMainResolution":true,"resolutionValue":1,"minDpi":96,"url":"/ui-picto.png"},"width":264,"height":200,"resolutionValue":1,"minDpi":96,"name":"spritesheet-ui-picto","mainResolution":"_1x","resolutionList":{"_2x":"_2x","_1x":"_1x"},"url":"/ui-picto.png"}
spriteUiPictoCheckBig = {"name":"sprite-ui-picto-check-big","spritesheetName":"spritesheet-ui-picto","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":2,"y":2,"_2x":{"name":"sprite-ui-picto-check-big","spritesheetName":"spritesheet-ui-picto","resolution":"_2x","resolutionValue":2,"minDpi":192,"width":256,"height":256,"x":2,"y":2},"_1x":{"name":"sprite-ui-picto-check-big","spritesheetName":"spritesheet-ui-picto","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":2,"y":2}}
spriteUiPictoCheckOne = {"name":"sprite-ui-picto-check-one","spritesheetName":"spritesheet-ui-picto","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":64,"height":64,"x":2,"y":134,"_2x":{"name":"sprite-ui-picto-check-one","spritesheetName":"spritesheet-ui-picto","resolution":"_2x","resolutionValue":2,"minDpi":192,"width":128,"height":128,"x":2,"y":262},"_1x":{"name":"sprite-ui-picto-check-one","spritesheetName":"spritesheet-ui-picto","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":64,"height":64,"x":2,"y":134}}
spriteUiPictoCheckTwo = {"name":"sprite-ui-picto-check-two","spritesheetName":"spritesheet-ui-picto","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":134,"y":2,"_2x":{"name":"sprite-ui-picto-check-two","spritesheetName":"spritesheet-ui-picto","resolution":"_2x","resolutionValue":2,"minDpi":192,"width":256,"height":256,"x":262,"y":2},"_1x":{"name":"sprite-ui-picto-check-two","spritesheetName":"spritesheet-ui-picto","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":134,"y":2}}

spritesheet_ui_picto(fullSpritesheet = true)
	spritesheet(spritesheetUiPicto, fullSpritesheet)
sprite_ui_picto_check_big()
	spritesheet_ui_picto(fullSpritesheet: false)
	sprite(spriteUiPictoCheckBig)
sprite_ui_picto_check_one()
	spritesheet_ui_picto(fullSpritesheet: false)
	sprite(spriteUiPictoCheckOne)
sprite_ui_picto_check_two()
	spritesheet_ui_picto(fullSpritesheet: false)
	sprite(spriteUiPictoCheckTwo)

$spritesheet-ui-picto
	spritesheet_ui_picto()
$sprite-ui-picto-check-big
	sprite_ui_picto_check_big()
$sprite-ui-picto-check-one
	sprite_ui_picto_check_one()
$sprite-ui-picto-check-two
	sprite_ui_picto_check_two()
