@require "./tools.styl"

spritesheetUiPictoCopy = {"_2x":{"width":520,"height":392,"isMainResolution":false,"resolutionValue":2,"minDpi":192,"url":"./ui-picto-copy@2x.png"},"_1x":{"width":264,"height":200,"isMainResolution":true,"resolutionValue":1,"minDpi":96,"url":"./ui-picto-copy.png"},"width":264,"height":200,"resolutionValue":1,"minDpi":96,"name":"spritesheet-ui-picto-copy","mainResolution":"_1x","resolutionList":{"_2x":"_2x","_1x":"_1x"},"url":"./ui-picto-copy.png"}
spriteUiPictoCopyCheckBig = {"name":"sprite-ui-picto-copy-check-big","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":2,"y":2,"_2x":{"name":"sprite-ui-picto-copy-check-big","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_2x","resolutionValue":2,"minDpi":192,"width":256,"height":256,"x":2,"y":2},"_1x":{"name":"sprite-ui-picto-copy-check-big","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":2,"y":2}}
spriteUiPictoCopyCheckOne = {"name":"sprite-ui-picto-copy-check-one","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":64,"height":64,"x":2,"y":134,"_2x":{"name":"sprite-ui-picto-copy-check-one","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_2x","resolutionValue":2,"minDpi":192,"width":128,"height":128,"x":2,"y":262},"_1x":{"name":"sprite-ui-picto-copy-check-one","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":64,"height":64,"x":2,"y":134}}
spriteUiPictoCopyCheckTwo = {"name":"sprite-ui-picto-copy-check-two","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":134,"y":2,"_2x":{"name":"sprite-ui-picto-copy-check-two","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_2x","resolutionValue":2,"minDpi":192,"width":256,"height":256,"x":262,"y":2},"_1x":{"name":"sprite-ui-picto-copy-check-two","spritesheetName":"spritesheet-ui-picto-copy","resolution":"_1x","resolutionValue":1,"minDpi":96,"width":128,"height":128,"x":134,"y":2}}

spritesheet_ui_picto_copy(fullSpritesheet = true)
	spritesheet(spritesheetUiPictoCopy, fullSpritesheet)
sprite_ui_picto_copy_check_big()
	spritesheet_ui_picto_copy(fullSpritesheet: false)
	sprite(spriteUiPictoCopyCheckBig)
sprite_ui_picto_copy_check_one()
	spritesheet_ui_picto_copy(fullSpritesheet: false)
	sprite(spriteUiPictoCopyCheckOne)
sprite_ui_picto_copy_check_two()
	spritesheet_ui_picto_copy(fullSpritesheet: false)
	sprite(spriteUiPictoCopyCheckTwo)

$spritesheet-ui-picto-copy
	spritesheet_ui_picto_copy()
$sprite-ui-picto-copy-check-big
	sprite_ui_picto_copy_check_big()
$sprite-ui-picto-copy-check-one
	sprite_ui_picto_copy_check_one()
$sprite-ui-picto-copy-check-two
	sprite_ui_picto_copy_check_two()
