
spritesheetUiPicto = {"_2x":{"width":520,"height":392,"url":"/ui-picto@2x.png"},"_1x":{"width":264,"height":200,"url":"/ui-picto.png"},"width":264,"height":200,"url":"/ui-picto.png","mainResolution":"_1x"}
spriteUiPictoCheckBig = {"_2x":{"width":256,"height":256,"x":2,"y":2},"spritesheetName":"ui-picto","_1x":{"width":128,"height":128,"x":2,"y":2},"width":128,"height":128,"x":2,"y":2,"name":"ui-picto-check-big","mainResolution":"_1x"}
spriteUiPictoCheckOne = {"_2x":{"width":128,"height":128,"x":2,"y":262},"spritesheetName":"ui-picto","_1x":{"width":64,"height":64,"x":2,"y":134},"width":64,"height":64,"x":2,"y":134,"name":"ui-picto-check-one","mainResolution":"_1x"}
spriteUiPictoCheckTwo = {"_2x":{"width":256,"height":256,"x":262,"y":2},"spritesheetName":"ui-picto","_1x":{"width":128,"height":128,"x":134,"y":2},"width":128,"height":128,"x":134,"y":2,"name":"ui-picto-check-two","mainResolution":"_1x"}

$ui-picto-check-big
	spritesheet(spritesheetUiPicto)
	spritesheet_part(spriteUiPictoCheckBig)
$ui-picto-check-one
	spritesheet(spritesheetUiPicto)
	spritesheet_part(spriteUiPictoCheckOne)
$ui-picto-check-two
	spritesheet(spritesheetUiPicto)
	spritesheet_part(spriteUiPictoCheckTwo)

spritesheetUiPictoCopy = {"_2x":{"width":520,"height":392,"url":"/ui-picto-copy@2x.png"},"_1x":{"width":264,"height":200,"url":"/ui-picto-copy.png"},"width":264,"height":200,"url":"/ui-picto-copy.png","mainResolution":"_1x"}
spriteUiPictoCopyCheckBig = {"_2x":{"width":256,"height":256,"x":2,"y":2},"spritesheetName":"ui-picto-copy","_1x":{"width":128,"height":128,"x":2,"y":2},"width":128,"height":128,"x":2,"y":2,"name":"ui-picto-copy-check-big","mainResolution":"_1x"}
spriteUiPictoCopyCheckOne = {"_2x":{"width":128,"height":128,"x":2,"y":262},"spritesheetName":"ui-picto-copy","_1x":{"width":64,"height":64,"x":2,"y":134},"width":64,"height":64,"x":2,"y":134,"name":"ui-picto-copy-check-one","mainResolution":"_1x"}
spriteUiPictoCopyCheckTwo = {"_2x":{"width":256,"height":256,"x":262,"y":2},"spritesheetName":"ui-picto-copy","_1x":{"width":128,"height":128,"x":134,"y":2},"width":128,"height":128,"x":134,"y":2,"name":"ui-picto-copy-check-two","mainResolution":"_1x"}

$ui-picto-copy-check-big
	spritesheet(spritesheetUiPictoCopy)
	spritesheet_part(spriteUiPictoCopyCheckBig)
$ui-picto-copy-check-one
	spritesheet(spritesheetUiPictoCopy)
	spritesheet_part(spriteUiPictoCopyCheckOne)
$ui-picto-copy-check-two
	spritesheet(spritesheetUiPictoCopy)
	spritesheet_part(spriteUiPictoCopyCheckTwo)